body {    
    margin: 0 !important;
    padding: 0 !important;
}

#header {
    background-color: cornsilk;
    width: 100%;
    height: 40px;
    margin: 0;
}

.TopLogo{
    font-size: 2em;
	float: left;
}

.UserNameHeader{
	font-size: 1.2em;
	float: left;
	margin-top: 10px;
}

#iemand{
	font-size: 2em;
	float:left;
	margin-top: 10px;
}

#HomeWorkInput{
    background-color: green;
    float: left;
    height: 100vh;
    width: 30%;
}

#HomeWorkCalander{
    float: left;
    background-color: black;
    width: 70%;
    height: auto;
}

.CalanderDay{
    border-width: 5px;
	border-style: outset;
	margin: 3px;
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
	overflow-y: scroll;
}

.CurrentMonth{
	color: white;
	text-align: center;
}

.Date{
    text-align: center;
    background-color: cornsilk;
}

.HomeWorkToDo{
	color: red;	
}
.HomeWorkDone{
	color:green;
}
